<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826432124192-bov3gk4533stk9dc6sl2up11kmqkl54p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826432124192-bov3gk4533stk9dc6sl2up11kmqkl54p</string>
	<key>API_KEY</key>
	<string>AIzaSyDAZgeeMCnRVamQKiPQjsnv7cCqlxbx0FY</string>
	<key>GCM_SENDER_ID</key>
	<string>826432124192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.beats.jomni.CovidInJapan</string>
	<key>PROJECT_ID</key>
	<string>covidapp-8eae3</string>
	<key>STORAGE_BUCKET</key>
	<string>covidapp-8eae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826432124192:ios:eb700d84297aa577c29345</string>
</dict>
</plist>